<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card ml-auto">
        <div class="card-header bg-success text-white d-flex">إنشاء حساب لأولياء</div>
        <div class="card-body white" >
          <form [formGroup]="formGroup">
              <div class="form-group">
                  <label for="ParentName" class="d-flex">اسم المستخدم</label>
                  <input type="text" class="form-control" id="ParentName" formControlName="ParentName" name="ParentName" placeholder="اسم المستخدم" required>
                </div>                  
            <div class="form-group" >
              <label for="ParentMail" class="d-flex">عنوان البريد الإلكتروني</label>
              <input type="email" class="form-control" id="ParentMail"  formControlName="ParentMail"  placeholder="أدخل البريد الإلكتروني" required>
            </div>
            <div class="form-group">
              <label for="ParentPwd" class="d-flex">كلمة المرور</label>
              <input [ngStyle]="confirmedpass ? {'border-color': 'gray'} : {'border-color': 'red'}"type="password" class="form-control" id="ParentPwd"  formControlName="ParentPwd" placeholder="كلمة المرور" required>
            </div>
            <div class="form-group" >
              <label for="confirmPassword" class="d-flex">تأكيد كلمة المرور</label>
              <input [ngStyle]="confirmedpass2 ? {'border-color': 'gray'} : {'border-color': 'red'}" type="password" class="form-control" id="confirmPassword"  formControlName="confirmPassword" placeholder="تأكيد كلمة المرور" required>
            </div>
            <div class="form-group">
              <label for="ParentTel" class="d-flex">رقم الهاتف</label>
              <input type="text" class="form-control" id="ParentTel"   formControlName="ParentTel" placeholder="رقم الهاتف" required>
            </div>
            <div class="form-group">
              <label for="ParentVille" class="d-flex">ولاية</label>
              <select (click)="getstate()" class="form-control" id="ParentVille"  formControlName="ParentVille" [(ngModel)]="ParentVille" name="ParentVille" required>
                <option [value]="state.governorate" *ngFor="let state of state">{{state.governorate}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="ParentRegion" class="d-flex">معتمدية</label>
              <select (click)="getdelegation()" class="form-control" id="ParentRegion"  formControlName="ParentRegion"  name="ParentRegion" required>
                <option  *ngFor="let delegation of delegation">{{delegation.delegation}}</option>
              </select>
            </div>
            <button type="submit" (click)="onSubmit()" class="btn btn-primary d-flex" [disabled]="!formGroup.valid" >إنشاء حساب</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>