<div class="container mt-5 pd">
    <div class=" justify-content-center">
      <div class="">
        <div class="card">
          <div class="card-header text-center"><h3>  فضاء الأطفال </h3></div>
          <div class="card-body">
            <!-- <div class="text-center">لم تتم إضافة أطفال حتى الآن</div> -->
            <a class="btn btn-primary" routerLink="/Child">إضافة طفل</a>
            <div *ngFor="let item of child">
              <div  *ngIf="item.EnfantParentId==idParent" class="child card  d-flex flex-row my-3 p-2 ">
                <div class="col-3 d-flex flex-column">
                  <p class="text-center">name </p>
                  <p class="text-center"> {{item.EnfantName}}</p>
                </div>
            
                <div class="col-3 d-flex flex-column">
                  <p class="text-center">age (months)</p>
                  <p class="text-center">{{item.EnfantAge}}</p>

                </div>
                <div class="col-3 d-flex flex-column">
                  <p class="text-center">result</p>
                  <p class="text-center">{{item.EnfantAutiste}}</p>

                </div>
                <div class="col-3 d-flex align-items-center justify-content-end">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  