<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card ml-auto">
        <div class="card-header bg-success text-white d-flex">إنشاء حساب لأولياء</div>
        <div class="card-body white" >
<form [formGroup]="FormGroup" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email" class="d-flex">عنوان البريد الإلكتروني</label>
    <input
      type="email"
      class="form-control"
      id="email"
      formControlName="email"
      name="email"
      required
    />
  </div>
  
  <!-- Step 2: Code Acceptance -->
  <div *ngIf="showCodeInput" class="form-group">
    <label for="code" class="d-flex">رمز التحقق</label>
    <input
      type="text"
      class="form-control"
      id="code"
      formControlName="code"
      name="code"
      required
    />
  </div>
  
  <!-- Step 3: New Password -->
  <div *ngIf="showCodeInput" class="form-group">
    <label for="newPassword" class="d-flex">كلمة مرور جديدة</label>
    <input
      type="password"
      class="form-control"
      id="newPassword"
      name="newPassword"
      formControlName="newpassword"
      required
      minlength="8"
    />
  </div>
  
  <button type="submit" class="btn btn-primary d-flex">
    {{ showCodeInput ? 'تأكيد وتعيين كلمة المرور' : 'إعادة تعيين كلمة المرور' }}
  </button>
</form>
</div>
</div>
</div>
</div>
</div>